5-Persona.pdf
4-Design.pdf
3-Technical_Implementation.pdf
2-TheIdea.pdf
6-.pdf
Milestone 9/test-js.js
Milestone 9/screenshots/remove_2.PNG
Milestone 9/screenshots/remove1.PNG
Milestone 9/screenshots/next2.PNG
Milestone 9/screenshots/create_breakpoints.PNG
Milestone 9/screenshots/add-marked-seg.PNG
Milestone 9/screenshots/add-marked-seg-2.PNG
Milestone 9/screenshots/REAL-create-breakpoints.PNG
Milestone 9/screenshots/next.PNG
Video_Looping_Website/screenshots/remove_2.PNG
Video_Looping_Website/screenshots/remove1.PNG
Video_Looping_Website/screenshots/next2.PNG
Video_Looping_Website/screenshots/next.PNG
Video_Looping_Website/screenshots/create_breakpoints.PNG
Video_Looping_Website/screenshots/add-marked-seg.PNG
Video_Looping_Website/screenshots/add-marked-seg-2.PNG
Video_Looping_Website/screenshots/REAL-create-breakpoints.PNG
Video_Looping_Website/ThisGame_MIDI.mp4
Video_Looping_Website/desktop.ini
Video_Looping_Website/LICENSE
